// основные цвета
$primary__yellow: #fbcf00;
//$primary__red: #bd4932;
$primary__red: #de1b1b;
$primary__black: #2c2c2c;
$primary__white: #fff;

$background__mobile-menu: #f4f6f7;
$border__mobile-menu: 1px solid #dfe5e8;
$text-color__mobile-menu: #5f727f;
$text-color-hover__mobile-menu: #3c3950;
$border-left__mobile-menu: 5px solid #00bcd4;

$alt-color-text: #5f727f;

// форма "перезвоните мне"
$form-callback__color: #7f8c8d;
$form-callback__color-body: #ecf0f1;
$form-callback__color-text: #ecf0f1;
$form-callback__input-shadow: 0 0 10px rgba(0,0,0,0.5);


